<div class="row section-title">
  <h1>Confirm Booking</h1>
</div>
<% if alert %>
  <%= render "layouts/alert" %>
<% end %>
<%= render @booking %>
<br>
<div>
  <%= button_to "Confirm", @booking, method: :put,  class: "btn btn-primary float-end" %>
  <%= button_to "Cancel", @booking, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }},  class: "btn btn-link link-simple float-end" %>
</div>
