<%= render @booking %>
<br>
<div>
  <%= button_to "Delete Booking", @booking, method: :delete, form: { data: { turbo_confirm: 'Cancelling booking cannot be reverted. Do you want to proceed?' }}, class: "btn btn-primary float-end" %>
</div>
