<div class="row section-title">
  <h1><%= @booking.destination %></h1>
</div>
<% if alert %>
  <%= render "layouts/alert" %>
<% end %>
<%= render @booking %>
<br>
<%# Only shows cancel button for bookings that are confirmed and not flown %>
<% if @booking.status == "Confirmed" && !@booking.departure_date.past?%>
  <div>
    <%= button_to "Cancel Booking", @booking, method: :delete, form: { data: { turbo_confirm: 'Cancelling this booking cannot be undone. Do you want to proceed?' }}, class: "btn btn-primary float-end" %>
  </div>
<% end %>
