

<%= render @user %>

<div class="float-end">

  <%# Admin can edit more details %>
  <%= link_to "Back", :back, class: "link-dark" %>
  <% if current_user.admin%>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary float-right"%>
  <%else %>
    <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary float-right"%>
  <%end %>

</div>
