<div class="container d-flex justify-content-center align-items-center" id="home-container">
    <div class="row">
        <div class="row justify-content-center">
            <%= image_tag('plane-ticket.png', id: 'index-img')%>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <h1>Business Travel Made Simple</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-6">
                <p>Travel Manager is designed to simplify business travel for Small and Medium-sized enterprises. Our tool allows you to book and manage flights and hotels for your employees</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="https://www.flaticon.com/free-icons/travel" title="travel icons" class="reference">Travel icons created by Freepik - Flaticon</a>
</div>


