<div class="container d-flex justify-content-center align-items-center" id="pricing-container">
    <div class="row">
        <div class="row text-center">
            <div class="col-12 col-md-12 col-lg-12">
                <h1>Our Plans</h1>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <p>Two simple plans that adapt to the needs of small and medium-sized enteprises</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-3 plan-container">
                <div class="text-center">
                    <h5 class="fw-bold">Small Enterprises</h5>
                    <h3>€5</h3>
                    <p>per user/month</p>
                </div>
                <div class="plan-text">
                    <p class="fw-bold">Features:</p>
                    <p>Up to 100 users</p>
                    <p>Book flights and hotels</p>
                    <p>Manage bookings</p>
                    <p>Set travel policies</p>
                    <p>Travel Insights</p>
                </div>
            </div>
            <div class="col-3 plan-container">
                <div class="text-center">
                    <h5 class="fw-bold">Medium Enterprises</h5>
                    <h3>€5</h3>
                    <p>per user/month</p>
                </div>
                <div>
                    <p class="fw-bold">Features:</p>
                    <p >More than 100 users</p>
                    <p>Book flights and hotels</p>
                    <p>Manage bookings</p>
                    <p>Set travel policies</p>
                    <p>Travel Insights</p>
                </div>
            </div>
        </div>
    </div>
</div>