/*Application-wide style. Applied to shared elements*/

/*Overwrite Bootstrap button color */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #eb8258 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #eb6c39 !important;
}

/*Alerts and notices*/

/**/
