/*Application-wide style. Applied to shared elements*/

html,
body {
  height: 100vh;
  background-color: #f8f8f7;
}

/*Overwrite Bootstrap button color */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #eb8258 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #eb6c39 !important;
}

/*Alerts and notices*/

/**/
