/*Application-wide style - Including main dashboard*/

@import "font-awesome";

/*App containers*/
html,
body {
  height: 100vh;
  background-color: #f8f8f7;
}

#dashboard-wrapper {
  height: 100vh;
  max-width: 100vw;
}

#dashboard-container {
  min-height: 100vh;
  padding: 15vh 6vw;
}

/*Dashboard sidebar*/

.sidebar {
  min-height: 100vh;
  background-color: #226b80;
}

.sidebar a {
  color: white !important;
}

.sidebar .active {
  background-color: #eb8258 !important;
}

#logo-side {
  height: 70px;
}

/*Overwrite Bootstrap button color */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #eb8258 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #eb6c39 !important;
}

/* Dashboard main content*/

.section-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.section-subtitle {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: large;
}

.link-simple {
  text-decoration: none;
  color: inherit;

}

.link-simple:hover {
  color: inherit;
}

/*Tables*/
thead {
  border-bottom: 2px solid #2E2F30;

}

tr a {
  text-decoration: none;
  color: black;
}

tr a:hover {
  color: #eb8258;
}

/*Profile and Forms */
.label-text {
  margin: 0;
  font-weight: bold;
}

.field {
  margin: 10px;
}
.link-dark {
  padding-right: 10px;
}

/* Bookings */
#new-booking-box {
  background-color: #f8f8f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 20px;
}

#new-booking-box .form-select{
  border: none;
  background-color: #f8f8f7;
  padding-left: 0;
}

.booking-box {
  height: 120px;
  background-color: #f8f8f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 5vh;
}

.booking-box-text {
  padding: 30px;
}

.booking-box-text p {
  margin-bottom: 0;
}

.booking-img {
  height: 100%;
}

.booking-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0 20px 20px 0;
}

.search-field {
  padding: 10px;
}

/* Results */


.small-text {
  margin-bottom: 0;
  font-size: 14px;
  color: #252525;
}

.plane-img {
  max-height: 5vh;
}














