/*Application-wide style - Inclduing main dashboard*/

@import "font-awesome";

html,
body {
  height: 100vh;
  background-color: #f8f8f7;
}

#dashboard-wrapper {
  height: 100vh;
  max-width: 100vw;
}

#dashboard-container {
  min-height: 100vh;
}

.sidebar {
  min-height: 100vh;
  background-color: #226b80;
}

.sidebar a {
  color: white !important;
}

.sidebar .active {
  background-color: #eb8258 !important;
}

#logo-side {
  height: 70px;
}

/*Overwrite Bootstrap button color */
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #eb8258 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #eb6c39 !important;
}

.field {
  margin: 10px;
}
