<div class="row section-title">
  <h1>Hotels</h1>
</div>
<%= turbo_frame_tag "hotels_frame", src: booking_hotels_hotels_path do %>
  <div class="col-12 d-flex justify-content-center align-items-center loading">
    <%= image_tag "loader.gif", id: "loader"  %>
  </div>
<% end %>